{% extends 'app/base.html' %}


{% load static %}

{% block contenido %}

<div>
    <div class="row" style="display: flex;  align-items: center;">
        <div class="col-sm-12 mb-3">
          <h1>Editar pechera</h1>
          <Spam>Actualizar los datos de la pechera</Spam>
        </div>
      </div><br>
    <form method="post" action="{% url 'actualizar' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_pechera">ID Pechera:</label>
            <input type="text" id="id_pechera" name="id_pechera" value="{{ pechera.id_pechera }}" readonly class="form-control">
        </div>    
        <div class="form-group">
            <label for="fecha_fabricacion">Fecha de Fabricación:</label><br>
            <input type="date" id="fecha_fabricacion" name="fecha_fabricacion" value="{{ pechera.fecha_fabricacion|date:'Y-m-d' }}" readonly class="form-control">
        </div>    
        <div class="form-group">
            <label for="fecha_fabricacion">Cantidad de lavados:</label><br>
            <input type="number" id="cantidad_lavados" name="cantidad_lavados" value="{{ pechera.cantidad_lavados }}" readonly class="form-control">
        </div>        
        <div class="form-group">
            <label for="plantas">Planta: </label>            
            <select class="form-select form-control d-inline-block mr-2" id="planta" name="planta">
                {% for planta in plantas %}
                    <option value="{{ planta.id_planta }}" {% if planta.id_planta == pechera.planta %} selected {% endif %}>{{ planta.nombre }}</option>
                {% endfor %}                
            </select>
        </div>        
        <div class="form-group">
            <label for="talla">Talla:</label><br>
            <input type="text" id="talla" name="talla" value="{{ pechera.talla }}" class="form-control">
        </div>
        <div class="form-group">
            <label for="parametro">Parámetros: </label>            
            <select class="form-select form-control d-inline-block mr-2" id="parameters" name="parameters">
                {% for valor,parametro in parameters_choices %}
                    <option value="{{ valor }}" {% if valor == pechera.parameters %} selected {% endif %}>{{ parametro }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="observaciones">Observaciones:</label><br>
            <input type="text" id="observaciones" name="observaciones" value="{{ pechera.observaciones }}" class="form-control">
        </div>
        <div class="form-group">
            <label for="indice">Índice Microbiológico:</label><br>
            <select class="form-select form-control d-inline-block mr-2" id="indice_microbiologico" name="indice_microbiologico">
                {% for indice in opciones_indice %}
                    <option value="{{ indice }}" {% if indice == pechera.indice_microbiologico %} selected {% endif %}>{{ indice }}</option>
                {% endfor %}
            </select>
        </div>

        <br>
        <button type="submit" class="btn btn-primary btn-block btn-lg">Actualizar datos</button><br><br>
    </form>

    {% if error_message %}
    <div class="alert alert-danger mt-3">
        {{ error_message }}
    </div>
    {% endif %}

{% endblock %}