{% extends 'app/base.html' %}

{% load static %}

{% block contenido %}

  <h1>Panel Principal</h1>
  <Spam>Centro de control e información principal</Spam><br /><br/>

  <div class="row">
    <div class="col-sm-3 mb-3"><a class="btn btn-primary btn-block btn-lg" href="{% url 'lectura' %}" role="button"><img src="{% static 'app\img\lecturaw.svg' %}" width="23" alt="icono lavado" id="iconow"> Leer datos de pechera</a></div>
    <div class="col-sm-3 mb-3"><a class="btn btn-primary btn-block btn-lg" href="{% url 'registro' %}" role="button"><img src="{% static 'app\img\plusw.svg' %}" width="20" alt="icono lavado" id="iconow"> Ingresar nueva pechera</a></div>
    <div class="col-sm-3 mb-3"><a class="btn btn-primary btn-block btn-lg" href="{% url 'lavado' %}" role="button"><img src="{% static 'app\img\lavadow.svg' %}" width="25" alt="icono lavado" id="iconow"> Registrar lavado pechera</a></div>
    <div class="col-sm-3 mb-3"><a class="btn btn-danger btn-block btn-lg" href="{% url 'eliminar' %}" role="button"><img src="{% static 'app\img\eliminarw.svg' %}" height="25" alt="icono eliminar" id="iconow"> Eliminar pechera</a></div>
  </div>

  <div class="row">
    <div class="col-sm-3 mb-3">
      <div class="card">
        <div class="card-header">Cantidad de pecheras fabricadas</div>
        <div class="card-body">
          <img src="{% static 'app\img\fabricadas.svg' %}" width="90" alt="fabricadas" style="float: right;">
          <h2 class="card-title">{{ manufactured_last_year }}</h2>
          <p class="card-text">En el ulimo año</p>
        </div>
      </div>
    </div>

    <div class="col-sm-3 mb-3">
      <div class="card">
        <div class="card-header">Cantidad de pecheras fabricadas</div>
        <div class="card-body">
          <img src="{% static 'app\img\fabricadas.svg' %}" width="90" alt="fabricadas" style="float: right;">
          <h2 class="card-title">{{ manufactured_last_month }}</h2>
          <p class="card-text">En el ulimo mes</p>
        </div>
      </div>
    </div>

    <div class="col-sm-3 mb-3">
      <div class="card">
        <div class="card-header">Cantidad de pecheras lavadas</div>
        <div class="card-body">
          <img src="{% static 'app\img\lavadas.svg' %}" width="90" alt="lavadas" style="float: right;">
          <h2 class="card-title">{{ washed_last_month }}</h2>
          <p class="card-text">En el ulimo mes</p>
        </div>
      </div>
    </div>

    <div class="col-sm-3 mb-3">
      <div class="card">
        <div class="card-header">Cantidad de pecheras dañadas</div>
        <div class="card-body">
          <img src="{% static 'app\img\defectuosas.svg' %}" width="90" alt="defectuosas" style="float: right;">
          <h2 class="card-title">{{ faulty_last_month }}</h2>
          <p class="card-text">En el último mes</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3 mb-3">
      <div class="card">
        <div class="card-header">Cantidad de pecheras disponibles</div>
        <div class="card-body">
          <img src="{% static 'app\img\disponibles.svg' %}" width="90" alt="fabricadas" style="float: right;">
          <h2 class="card-title">{{ disponibles }}</h2>
          <p class="card-text">En almacén</p>
        </div>
      </div>
    </div>

    <div class="col-sm-3 mb-3">
      <div class="card">
        <div class="card-header">Cantidad de pecheras en uso</div>
        <div class="card-body">
          <img src="{% static 'app\img\planta.svg' %}" width="90" alt="fabricadas" style="float: right;">
          <h2 class="card-title">{{ planta }}</h2>
          <p class="card-text">En plantas</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      <div class="row" style="display: flex; justify-content: center; align-items: center;">
        <div class="col-sm-10">Listado de las últimas 10 pecheras agregadas al sistema</div>
        <div class="col-sm-2"><a class="btn btn-success btn-block" href="{% url 'exportar_a_excel' %}" role="button" style="margin-left: auto;" id="hide-mobile">Descargar a Excel</a></div>
      </div>       
    </div>
    <div class="card-body">
      <table class="table table-responsive-sm table-fluid">
        <thead>
          <tr>
            <th>Identificador</th>
            <th>Planta</th>
            <th>Fecha de fabricación</th>
            <th>Cantidad de Lavadas</th>
            <th>Talla</th>
            <th>Parámetros</th>
            <th>Observaciones</th>
            <th>Índice Microbiológico</th>
          </tr>
        </thead>
        <tbody>
          {% for pechera in latest_pecheras %}
            <tr>
              <td>{{ pechera.id_pechera }}</td>
              <td>{{ pechera.get_planta_display }}</td>
              <td>{{ pechera.fecha_fabricacion }}</td>
              <td>{{ pechera.cantidad_lavados }}</td>
              <td>{{ pechera.talla }}</td>
              <td>{{ pechera.get_parameters_display }}</td>
              <td>{{ pechera.observaciones }}</td>
              <td>
                {% if pechera.indice_microbiologico == 'No' %}
                  <span class="text-danger">No</span>
                  <i class="fas fa-exclamation-triangle text-danger"></i> <!-- Vector de peligro -->
                {% elif pechera.indice_microbiologico == 'Si' %}
                  <span class="text-success">Sí</span>
                  <i class="fas fa-check-circle text-success"></i> <!-- Vector de aprobado -->
                {% else %}
                  <span class="text-warning">Valor no reconocido: {{ pechera.indice_microbiologico }}</span>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <a class="btn btn-success btn-block" href="{% url 'exportar_a_excel' %}" role="button" style="margin-left: auto;" id="show-mobile">Descargar a Excel</a>
  <br>
  <a class="btn btn-primary" href="{% url 'leer_rfid' %}" role="button">Comenzar lectura</a><br><br>

{% endblock %}
